@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
.mg-icon {
  width: 5rem;
  height: 5rem;
}

.Monterrat {
  font-family: "Montserrat", sans-serif;
}

.i {
  font-family: "Inter", sans-serif;
}

.i_Italic {
  font-family: "Inter", sans-serif;
  font-style: italic;
}

.button {
  height: 3.125rem;
  font-size: 1rem;
  color: #f5f0ec;
  background-color: #1b5b31; /* ! */
  border-radius: 3rem;
  padding: 12px 24px 14px 24px;
  align-items: center;
}

.white_button {
  width: 8rem !important; /* ? */
  background-color: #ffffff;
  color: #1b5b31;
}

.outline_button {
  width: 16.563rem; /* ? */
  color: #1b5b31;
  background-color: #dcc1ab;
  border: 1px solid;
}
.outline_black_button {
  color: #000000;
  background-color: transparent;
  border: 1px solid #111111;
  padding: 12px 22px 14px 22px;
}
.white_outline_button {
  width: 12.5rem;
  display: flex;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ffffff;
}

.offer_button {
  align-items: center;
  color: #1b5b31;
  width: 11rem;
  background-color: #ffffff;
  border-radius: 0%;
  border-bottom: 1px solid #1b5b31;
  margin-top: auto;
  display: flex;
  gap: 10px;
}
.main_buttons {
  width: 30.813rem;
}
.offer_card {
  border-radius: 28px;
  max-width: 23.625rem;
  height: 23.125rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.grid {
  max-width: 90rem;
  display: flex;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 28.188rem; /*451*/
  height: 21.125rem; /*338px*/
  float: left;
  background: #d26;
  margin-bottom: 20px;
}

.grid-item--width2 {
  width: 28.25rem; /*452*/
}

.grid-item--height2 {
  height: 28.188rem; /*451*/
}
.grid-item--height3 {
  height: 28.25rem; /*452*/
}
.grid-item--height4 {
  height: 37.563rem; /*600px*/
}

/* navigation*/
@keyframes nav-button-bottom {
  0% {
    top: 0;
    opacity: 0;
    visibility: initial;
  }
  100% {
    opacity: 1;
    top: 2rem;
    visibility: initial;
  }
}

@keyframes anim-nav-button {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes anim-nav-button-line-after {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px) rotate(-45deg);
  }
}

@keyframes anim-nav-button-line-before {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px) rotate(45deg);
  }
}

@keyframes anim-sec__info {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  65% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  display: block;
  background-color: black;
  position: relative;
  cursor: pointer;
  padding: 4px;
  z-index: 10;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__line {
  display: block;
  width: 1.4rem;
  height: 2.5px;
  background-color: #fff;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__line::before,
.navigation__line::after {
  content: "  ";
  position: absolute;
  left: 0;
  display: block;
  width: 1.4rem;
  height: 2.5px;
  background-color: #fff;
}
.navigation__line::after {
  top: -6px;
}
.navigation__line::before {
  top: 6px;
}

@media only screen and (max-width: 768px) {
  .navigation .nav-top {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bottom {
    display: none !important;
  }
}

.navigation .nav-top__list {
  display: flex;
  list-style: none;
}

.navigation .nav-top__link {
  text-decoration: none !important;
}
.navigation .nav-top__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;

  transition: all 0.2s ease-in;
}
.navigation .nav-top__link__link:link,
.navigation .nav-top__link__link:visited {
  font-size: 0.8rem;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation .nav-bottom {
  visibility: hidden;
  position: absolute;
  left: 0;
  z-index: 11 !important;
  top: 2rem;
  margin-top: 3.9rem;
  padding: 2rem 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
@supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
  .navigation .nav-bottom {
    backdrop-filter: blur(8px);
    background-color: rgba(245, 240, 236, 0.5);
  }
}
.navigation .nav-bottom__item {
  list-style: none;
}
.navigation .nav-bottom__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 10%;
  height: 50%;
}
.navigation .nav-bottom__link {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  text-decoration: none;
  padding: 0.5rem 0;
  letter-spacing: 2px;
}
.navigation .nav-bottom__link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 20px #f6ad72;
}

.navigation__checkbox:checked ~ .nav-bottom {
  animation: nav-button-bottom 0.4s ease-in;
  animation-fill-mode: forwards;
  display: flex;
}

.navigation__checkbox:checked + .navigation__button .navigation__line {
  animation: anim-nav-button 0.3s;
  animation-fill-mode: forwards;
}

.navigation__checkbox:checked + .navigation__button .navigation__line::before {
  animation: anim-nav-button-line-before 0.5s;
  animation-fill-mode: forwards;
}

.navigation__checkbox:checked + .navigation__button .navigation__line::after {
  animation: anim-nav-button-line-after 0.5s;
  animation-fill-mode: forwards;
}
