@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.mg-icon {
  width: 5rem;
  height: 5rem;
}
.header {
  max-width: 1262px;
  height: 5.563rem;
}
.main {
  height: 46.063rem;
  font-family: "Montserrat", sans-serif;
  background-color: #dcc1ab;
}
.Monterrat {
  font-family: "Montserrat", sans-serif;
}
.i_16 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.i_14 {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
}
.i {
  font-family: "Inter", sans-serif;
}

.i_Italic {
  font-family: "Inter", sans-serif;
  font-style: italic;
}

.button {
  width: 13rem;
  height: 3.125rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #f5f0ec;
  background-color: #1b5b31;
  border-radius: 3rem;
  align-items: center;
}
.outline_button {
  width: 15.563rem;
  color: #1b5b31;
  background-color: #dcc1ab;
  border: 1px solid;
}
.white_outline_button {
  width: 12.5rem;
  display: flex;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ffffff;
}

.offer_button {
  align-items: center;
  color: #1b5b31;
  width: 11rem;
  background-color: #ffffff;
  border-radius: 0%;
  border-bottom: 1px solid #1b5b31;
  margin-top: auto;
  display: flex;
  gap: 10px;
}
.main_buttons {
  width: 30.813rem;
}
.offer {
  background-color: #f5f0ec;
  padding-top: 7.5rem;
  padding-bottom: 10rem;
}

.offer_header {
  max-width: 65rem;
}
.offer_card {
  border-radius: 28px;
  max-width: 23.625rem;
  height: 23.125rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
