@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.Monterrat {
  font-family: "Montserrat", sans-serif;
}

.i {
  font-family: "Inter", sans-serif;
}

.i_Italic {
  font-family: "Inter", sans-serif;
  font-style: italic;
}

.button {
  height: 3.125rem;
  font-size: 1rem;
  color: #f5f0ec;
  background-color: #1b5b31; /* ! */
  border-radius: 3rem;
  padding: 12px 24px 14px 24px;
  align-items: center;
  @media (max-width: 1024px) {
    padding: 6px 12px 7px 12px;
    font-size: 0.875rem !important;
  }
  @media (max-width: 475px) {
    width: 10rem !important;
    font-size: 0.75rem !important;
  }
}

.white_button {
  width: 8rem !important;
  background-color: #ffffff;
  color: #1b5b31;
}

.outline_button {
  width: 16.563rem;
  color: #1b5b31;
  background-color: #dcc1ab;
  border: 1px solid;

  @media (max-width: 1024px) {
    width: 14.563rem !important;
  }
  @media (max-width: 475px) {
    font-size: 0.75rem !important;
    width: 12.563rem !important;
  }
}
.outline_black_button {
  color: #000000;
  background-color: transparent;
  border: 1px solid #111111;
  padding: 12px 22px 14px 22px;
}
.white_outline_button {
  width: 12.5rem;
  display: flex;
  justify-content: center;
  gap: 8px;
  border: 1px solid #ffffff;
}

.offer_button {
  align-items: center;
  color: #1b5b31;
  width: 11rem;
  background-color: #ffffff;
  border-radius: 0%;
  border-bottom: 1px solid #1b5b31;
  margin-top: auto;
  display: flex;
  gap: 10px;
  @media screen and (max-width: 768px) {
    width: 61%;
    margin-top: 2rem !important;
  }
}
.main_buttons {
  width: 30.813rem;
}
.offer_card {
  border-radius: 28px;
  max-width: 23.625rem;
  height: 23.125rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    height: 90%;
  }
  @media screen and (max-width: 475px) {
    padding: 1.8rem;
  }
}

.move-on-hover {
  position: relative;
  transition: padding-left 0.3s ease-in-out;
}

.button:hover .move-on-hover {
  padding-left: 9px;
}

.grid {
  max-width: 90rem;
  display: flex;
}

.grid-item {
  cursor: pointer;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid {
  max-width: 1440px;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 31.3%;
  margin-bottom: 3%;
}

.gutter-sizer {
  width: 3%;
}

.grid-item {
  float: left;
}

.linear-gradient {
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}

/* navigation*/
@keyframes nav-button-bottom {
  0% {
    top: 0;
    opacity: 0;
    visibility: initial;
  }
  100% {
    opacity: 1;
    top: 2rem;
    visibility: initial;
  }
}

@keyframes anim-nav-button {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes anim-nav-button-line-after {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px) rotate(-45deg);
  }
}

@keyframes anim-nav-button-line-before {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px) rotate(45deg);
  }
}

@keyframes anim-sec__info {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  65% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  display: block;
  background-color: black;
  position: relative;
  cursor: pointer;
  padding: 4px;
  z-index: 10;
  top: 50%;
  right: 0%;

  height: 2rem;
  width: 2.5rem;
}
@media only screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__line {
  display: block;
  width: 1.4rem;
  height: 2.5px;
  background-color: #fff;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__line::before,
.navigation__line::after {
  content: "  ";
  position: absolute;
  left: 0;
  display: block;
  width: 1.4rem;
  height: 2.5px;
  background-color: #fff;
}
.navigation__line::after {
  top: -6px;
}
.navigation__line::before {
  top: 6px;
}

@media only screen and (max-width: 768px) {
  .navigation .nav-top {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-bottom {
    display: none !important;
  }
}

.navigation .nav-top__list {
  display: flex;
  list-style: none;
}

.navigation .nav-top__link {
  text-decoration: none !important;
}
.navigation .nav-top__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;

  transition: all 0.2s ease-in;
}
.navigation .nav-top__link__link:link,
.navigation .nav-top__link__link:visited {
  font-size: 0.8rem;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation .nav-bottom {
  visibility: hidden;
  position: absolute;
  left: 0;
  z-index: 11 !important;
  top: 2rem;
  margin-top: 3.9rem;
  padding: 2rem 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
@supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
  .navigation .nav-bottom {
    backdrop-filter: blur(8px);
    background-color: rgba(245, 240, 236, 0.5);
  }
}
.navigation .nav-bottom__item {
  list-style: none;
}
.navigation .nav-bottom__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 10%;
  height: 50%;
}
.navigation .nav-bottom__link {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  text-decoration: none;
  padding: 0.5rem 0;
  letter-spacing: 2px;
}
.navigation .nav-bottom__link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 20px #f6ad72;
}

.navigation__checkbox:checked ~ .nav-bottom {
  animation: nav-button-bottom 0.4s ease-in;
  animation-fill-mode: forwards;
  display: flex;
}

.navigation__checkbox:checked + .navigation__button .navigation__line {
  animation: anim-nav-button 0.3s;
  animation-fill-mode: forwards;
}

.navigation__checkbox:checked + .navigation__button .navigation__line::before {
  animation: anim-nav-button-line-before 0.5s;
  animation-fill-mode: forwards;
}

.navigation__checkbox:checked + .navigation__button .navigation__line::after {
  animation: anim-nav-button-line-after 0.5s;
  animation-fill-mode: forwards;
}

/* cardbox animation */

.card-box {
  width: 338px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
  transition: 0.3s box-shadow ease-in-out;
}

.card-box:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.3) 0px 2px 25px 0px;
}
.card-box:hover::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-input {
  background-image: url(../src/assets/images/magnifying-glass-solid.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right;
}

/* Modal gizleme */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal içeriği */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Kapatma düğmesi */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

/* Resim üzerine gelindiğinde cursor stilini değiştirme */
.resim {
  cursor: pointer;
}
